language: node_js
sudo: true
node_js:
- "9"

before_script:
- wget -q https://dl.google.com/go/go1.13.4.linux-amd64.tar.gz
- sudo tar -xf go1.13.4.linux-amd64.tar.gz
- sudo mv go /usr/local
- export GOPATH=$HOME/go
- export GOROOT=/usr/local/go
- export PATH=$GOPATH/bin:$GOROOT/bin:$PATH
- mkdir -p $HOME/go/src
- mkdir -p $HOME/go/bin
- go get "github.com/gobuffalo/packr/v2/packr2"
- cd .. && mv engarde $HOME/go/src

script:
- cd $HOME/go/src/engarde/webmanager && npm install && npm run-script build-prod
- cd $HOME/go/src/engarde && make

after_success:
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd $HOME/go/src/engarde/dist && find * -type f -exec echo 'Uploading @{}' \; -exec curl -4 -F 'file=@{}' -F "path=$TRAVIS_BRANCH/{}" -F "key=$UPLOAD_KEY" "$UPLOAD_URL" \;; fi
