.dialog-title {
    text-align: left;
}
.dialog-content {
    text-align: left;
    font-family: roboto;
    white-space: pre-wrap;
    font-size: .8em;
}


.dialog-actions {
    margin-top: 2vh;
    text-align: right;

}
