

.card {
    margin: 1vw;
}
.card-active {
    border: .5px solid #00bfa5;
}
.card-container {
    display: flex;
    flex-flow: row wrap;
}

.card-excluded {
    border: .5px solid #F44336;

}

.card-idle {
    border: .5px solid #FFC107;
}
.card-server {
    border: .5px solid #03A9F4;

}

.datatable-container {
    margin: 1vh;
}
::ng-deep .snackbar {
    color: white;
    font-weight: 600;
}

.secondary-text {
    font-size: .9em;
}


.main-text {
    font-weight: 500;
    margin: 1vh; 
    margin-top: 3vh;
}
span.alert {
    color: red;
}
.subtitle {
    font-weight: 300;
    margin-left: 1vw;
    font-style: italic; 
}
.text {
    margin-top: 1vh;
}
.title {
    font-size: 1.5em;
    font-weight: 300; 
    margin-bottom: 1vh;
}

@media(max-width: 600px) {
    .card {
        margin: 40px;
    }
    body {
        margin: 5px;
    }
}

